/Python - Avance na Orientação a Objetos e consuma API/Aula3/venv
/Python - Avance na Orientação a Objetos e consuma API/Aula3_4_5/venv
Django templates e boas práticas/1 Iniciando aplicação e subindo o servidor/ExerciciosAlura/
/Alura-React
